@import "./sass/comon/variablses.scss";
@import "./sass/comon/fonts.scss";
@import "./sass/comon/scrollbar.scss";
@import "./sass/comon/mediaqueries.scss";
@import "./sass/components/header";
@import "./sass/components/headline";
@import "./sass/components/team-section";
@import "./sass/components/lets-section";
@import "./sass/components/worry-section";
@import "./sass/components/footer";

html {
  font-size: calc(1vw / 14.4 * 9);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helv;
  font-size: 1.7rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-bg;
  justify-items: center;
  color: $color-white;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: JeanLuc;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 19rem;
  letter-spacing: -0.8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

input:focus {
  outline: none;
}

.content-container {
  position: relative;
  grid-template-columns: 1fr;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4, auto);
}

.app-width {
  width: 100%;
  max-width: 1440px;
}

ul > li {
  list-style-type: none;
}

.app-button {
  background-color: $color-green;
  border: none;
  display: block;
  width: 100%;
  font-family: JeanLuc;
  font-size: 4.2rem;
  letter-spacing: -0.05;
  padding: 6rem;
  border-radius: $radius;
  cursor: pointer;
}
.app-button:hover {
  background-color: $color-active;
}

.input {
  border: none;
  background: none;
  padding: 16px 8px;
  width: 100%;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: $color-white;
  font-size: 16px;
  color: $color-white;
}
.input:focus {
  border-color: $color-active;
  caret-color: $color-active;
  caret-shape: bar;
}

//brakepoints
@include desctopXLMin {
  h1 {
    font-size: 220px;
    letter-spacing: -12px;
  }
  .app-button {
    font-size: 42px;
    letter-spacing: -2px;
    padding: 60px;
  }
  .input {
    font-size: 16px;
  }
}
@include mobile {
  .app-button {
    font-size: 24px;
  }
}
