.worry-section {
  margin-top: 25rem;
  padding: 0 3rem;
}
.worry-section__title {
  font-family: Helv;
  font-size: 19.8rem;
  line-height: 17rem;
  text-transform: uppercase;
}
.worry-section__content {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 2.3rem;
  .worry-section__img1 {
    grid-column: 1;
    grid-row: 1/4;
    height: 44rem;
    background-image: url("../../../assets/img/worry_1.jpg");
    background-size: cover;
    border-radius: $radius;
  }
  .worry-section__img2 {
    grid-column: 2;
    grid-row: 1/5;
    background-image: url("../../../assets/img/worry_2.jpg");
    background-size: cover;
    height: 62rem;
    border-radius: $radius;
  }
}
.worry-section__subtitle {
  grid-column: 1;
  grid-row: 4;
  font-family: JeanLuc;
  font-size: 17rem;
  line-height: 17rem;
}

.worry-section__mix-row {
  display: grid;
  grid-auto-rows: auto;
  gap: 2.3rem;

  .worry-section__subtitle {
    grid-column: 1;
    grid-row: 1;
  }
  .worry-section__description {
    font-size: 4.7rem;
    color: $color-green;
    text-transform: lowercase;
    line-height: 4rem;
    align-self: center;
    grid-column: 2;
    grid-row: 1;
  }
}

.worry-section__email-input {
  margin-top: 13.5rem;
  margin-bottom: 2.4rem;
}

.show-on-mobile {
  display: none;
}
.hide-on-mobile {
  display: inline;
}
