.team-section {
  grid-row: 2;
  margin-top: 38rem;
  padding: 0 3rem;
}
.team-section__title {
  font-family: Helv;
  font-size: 11rem;
  letter-spacing: -0.4rem;
  line-height: 11rem;
  text-transform: uppercase;
}
.team-section__subtitle {
  white-space: nowrap;
  font-family: JeanLuc;
  font-size: 12rem;
  letter-spacing: -0.07rem;
  line-height: 9rem;
}
.team-section__content {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-rows: repeat(8, auto);
  gap: 2.3rem;
}
.team-section__content img {
  object-fit: cover;
  max-width: 100%;
}
.team-section__description {
  grid-row: 2;
  grid-column: 1;
  font-size: 2.4rem;
  color: $color-green;
  text-transform: lowercase;
}
.team-section__img_big {
  grid-row: 3/9;
  grid-column: 1;
  background-image: url("../../../assets/img/headline_img.jpg");
  background-size: cover;
  border-radius: $radius;
  height: 60rem;
}
.team-section__img_small-1 {
  grid-column: 2;
  grid-row: 1/5;
  background-image: url("../../../assets/img/team_img1.jpg");
  background-size: cover;
  border-radius: $radius;
}
.team-section__img_small-2 {
  grid-column: 2;
  grid-row: 5/9;
  background-image: url("../../../assets/img/team_img2.jpg");
  background-size: cover;
  border-radius: $radius;
}
