@font-face {
  font-family: "JeanLuc";
  src: url("./assets/fonts/JeanLuc-Thin.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "JeanLuc";
  src: url("./assets/fonts/JeanLuc-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Helv";
  src: url("./assets/fonts/HelveticaLight.ttf");
}
