$color-white: #fff;
$color-bg: #0e0e0e;
$color-green: #bdff32;
$color-gray: #d9d9d9;
$color-active: #fcbc3a;

$maxWidth: 1440px;

$radius: 10px;
//brakepoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;
$xxlg: 1400px;
